<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head layout:fragment="head">
    <title>Yêu cầu mượn Sách</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <div class="container-fluid p-0">

            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="h3 mb-0">
                    <strong th:text="#{requestbooklist.title}"></strong>
                </h1>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill">
                        <div th:replace="~{fragments/table :: table(#{table.name}, #{table.bookname},
                            #{table.borrowDate}, #{table.status}, #{table.button-view}, #{table.button-accept},
                            #{table.button-delete})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
