<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head layout:fragment="head">
    <title>Tất cả Sách</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <div class="container-fluid p-0">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="h3 mb-0">
                    <strong th:text="#{booklist.title}"></strong>
                </h1>

                <div class="d-flex gap-2">
                    <!-- Download template -->
                    <a href="#" onclick="downloadAndRedirect()" class="btn btn-warning" th:text="#{table.button-download}"></a>
                    <!-- Import form -->
                    <form th:action="@{/admin/book/import}" method="post" enctype="multipart/form-data" id="importForm">
                        <input type="file" name="file" accept=".xls,.xlsx" class="d-none" id="fileInput" required>
                        <label for="fileInput" class="btn btn-primary" th:text="'+ ' + #{table.button-add}"></label>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill">
                        <div th:replace="~{fragments/table :: table(#{table.bookname}, #{table.author},
                            #{table.publishDate}, #{table.status}, #{table.button-view}, #{table.button-edit},
                            #{table.button-delete})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${message}"
         class="alert alert-dismissible fade show position-fixed top-0 end-0 m-3"
         th:classappend="'alert-' + ${alertType}" role="alert" style="z-index: 1050;">
        <span th:text="${message}"></span>
        <ul th:if="${errors}">
            <li th:each="err : ${errors}" th:text="${err}"></li>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script th:src="@{/public/js/admin/book.js}"></script>
</div>
</body>
</html>
